.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img,.google-maps img{max-width:none;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
*{margin:0;padding:0;}
header,footer,h1,h2{text-align:center;}
h1,h2{font-weight:bolder;font-weight:800;}
body{font-weight:400;}
h3{font-weight:bold;font-weight:600;}
a,a:active,a:visited,a:link,a:hover{color:#06266f;}
body{background:#f1f5fe;font-family:'Open Sans','Verdana',sans-serif;}
header{background:#4671d5;border:1px solid #06266f;padding:20px 5px;}header address{font-size:0.6em;font-size-adjust:0.58;font-style:normal;}
h2{margin:20px 0;background:#4671d5;border:1px solid #06266f;page-break-before:auto;page-break-after:avoid;}
section{margin:10px 0 0 0;font-size:0.8em;font-size-adjust:0.58;}section .title{width:200px;}section .title .duration{font-weight:normal !important;font-weight:400 !important;padding-left:15px;font-size:0.9em;font-size-adjust:0.58;}
section .label{white-space:nowrap;font-weight:bold;font-weight:600;background:#94abe0;}
section .value{background:#bbcaec;}
section .large{background:#bbcaec;font-weight:normal !important;white-space:normal !important;}section .large p{margin:10px 0;}
section .large ul{margin-left:15px;}section .large ul li{margin:10px 0;}
section table{border-collapse:collapse;border:0;width:100%;}section table th,section table td{padding:2px 10px;text-align:left;}
section table thead th{border-bottom:1px solid #06266f;}
section table thead th:first-child{white-space:nowrap;font-weight:bold;font-weight:600;background:#94abe0;border-top:1px solid #06266f;border-left:1px solid #06266f;border-right:1px solid #06266f;border-bottom:none;background:#6c8cd5;}
section table tbody td{border-bottom:1px solid #cfdaf1;}
section table tbody td:first-child{border-left:1px solid #06266f;}
section table tbody td:last-child{border-right:1px solid #06266f;}
section table tbody tr:first-child td{border-top:1px solid #06266f;}
section table tbody tr:first-child td:first-child{border-top:none;}
section table tbody tr:last-child td{border-bottom:1px solid #06266f;}
footer{border:1px solid #06266f;background:#4671d5;padding:5px 0;font-size:0.6em;font-size-adjust:0.58;margin-top:20px;}
@media print{body{font-size:0.8em;background:none;} .break{page-break-before:always;} section{page-break-inside:avoid;page-break-after:auto;}section *{page-break-before:avoid;page-break-after:avoid;} section table tbody td{background-color:#aaa;border-bottom:0 !important;} section table tbody tr:last-child td{border-bottom:1px solid #06266f !important;} footer{display:none;}}
