<li><a href="/" title="Home"><i class="icon-home icon-white"></i></a></li>
<!-- <li><a href="http://blog.lietu.net/" title="Lietu's tech blog">Tech Blog</a><li> -->
<li><a href="/blog.html" title="Lietu's tech blog">Tech Blog</a></li>
<li><a href="/about.html" title="About Lietu">About</a></li>
<li><a href="/credits.html" title="Credits">Credits</a></li>
<li><a href="/links.html" title="Links to more resources">Links</a></li>
<li><a href="/cv.html" title="Curriculum Vitae - Janne Enberg">Curriculum Vitae</a></li>

